body
{

    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: var(--secondary-light-txt);

}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

button{
    font-family: inherit;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*Хедер*/

.header{
    border-bottom: solid 1px #ECECEC;
}
.logo-blue
{
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--accent-txt);
}
.logo-dark
{
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--logo-light-txt);
}
.header-logo{
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
}
.header-container{
    display:flex;
    align-items: center;
}

.header-link-wrapper{
    display: flex;
    margin-left: 93px;
    align-items: center;

}
.header-nav{
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link-item{
    margin-right: 50px;
}

.header-link-item:last-child{
    margin: 0;
}

.nav-link
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-light-txt);
    
}


.header-addres-wrapper{
    margin-left: auto;
    align-items: center;
}

.nav-link:focus,
.nav-link:hover,
.head-mail:focus,
.head-mail:hover,
.head-phone:focus,
.head-phone:hover,
.portfolio-button-item:hover,
.portfolio-button-item:focus{
    color: var(--accent-txt);
}

.head-mail,
.head-phone{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-light-txt);
    letter-spacing: 0.02em; 

}

.head-mail{
    margin-right: 50px;
}

/*Главный контент*/
/*Секция шапка*/
.hat{
    background-color: var(--primary-dark-bg);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hat-phrase{

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-dark-txt);
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom:30px;

/*border: 1px solid #000000;*/

}

.hat-button{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-dark-txt);
background-color: var(--accent-txt);
padding: 10px 32px;
margin-left: auto;
margin-right: auto;
min-width: 200px;
max-width: 220px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

/*Секция особенности*/
.speciality
{
    padding-top: 94px;
    padding-bottom: 94px;
}
.speciality-wrapper{

}
.speciality-list{
    display: flex;
}

.speciality-list-item{
    margin-right: 30px;
    flex-basis: 270px;
}
.speciality-list-item:last-child{
    margin: 0;
}
.speciality-list-character{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color:var(--primary-light-txt);
margin-bottom: 10px;
}

.speciality-list-phrase{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color:var(--secondary-light-txt);
}

/*Проэкты*/

.projects{
    background-color: var(--primary-light-bg);
    padding-bottom: 94px;
}
.projects-title,
.crew-title{

font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--primary-light-txt);
}

.projects-title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.projects-list{
    display: flex;
}
.projects-item{
    margin-right: 30px;
    height: 294px

}
.projects-item:last-child{
    margin: 0;
}
/*Команда*/
.crew{
    padding-top: 94px;
    padding-bottom: 94px;
}

.crew-title{
    margin-bottom: 50px;
}
.crew-list{
    display: flex;
}
.crew-list-item{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.crew-list-item:last-child{
    margin: 0;
}
.crew-member-wrapper{
    padding-top: 30px;
}
.crew-member{
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
color:var(--primary-light-txt);
}
.crew-occupation{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
}

/*Портфолио*/

.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-button-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color:var(--primary-light-txt);
    font-family: inherit;
    padding: 6px 22px;
}

.portfolio-item {
    margin-right: 8px;
}
.portfolio-item:last-child{
    margin: 0;
}
    
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-list-wrapper{
 padding: 20px 24px;
}

.portfolio-item-title{
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color:var(--primary-light-txt)
}

.portfolio-item-phrase{
font-size: 16px;
line-height: 1.87;
}


/*Футер*/
.footer{
    background-color: var(--primary-dark-bg);
    padding-bottom: 60px;
    padding-top: 60px;
}
.footer-wrapper{

    display: flex;
    flex-direction: column;
}
.footer-logo{
    margin-bottom: 20px;
}
.logo-white{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--logo-dark-txt);
}
.footer-address-item{
    margin-bottom: 9px;
}
.footer-address-item:last-child{
    margin: 0;
}
.footer-address{
font-size: 14px;
line-height: 1.71;
color:var(--primary-dark-txt);
font-style: normal;
}

.footer-mail,
.footer-phone{
font-size: 14px;
line-height: 1.71;
color:var(--secondary-footer-txt);
font-style: normal;
}



:root 
{
    /*Шрифты*/
    --main-font: "Roboto",sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /*Светлая тема текста*/
    --primary-light-txt: #212121;
    --secondary-light-txt: #757575;
    --accent-txt: #2196F3;
    --logo-light-txt: #000000;
    --logo-dark-txt: #ffffff;
    /*Темная тема текста*/
    --primary-dark-txt: #ffffff;
    --secondary-dark-txt:#C4C4C4;
    /*Светлая тема фона*/
    --primary-light-bg: #E5E5E5;
    --secondary-light-bg: #F5F4FA;
    /*Темная тема фона*/
    --primary-dark-bg: #2F303A;
    --secondary-footer-txt: rgba(255, 255, 255, 0.6);
}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }